[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vasilw
[access "refs/for/refs/*"]
	read = group user/vasilw
	push = group user/vasilw
	label-Code-Review = -2..+2 group user/vasilw
	label-Verified = -1..+1 group user/vasilw
	rebase = group user/vasilw
	removeReviewer = group user/vasilw
	submit = group user/vasilw
[access "refs/heads/*"]
	read = group user/vasilw
	create = group user/vasilw
	push = +force group user/vasilw
	pushMerge = group user/vasilw
[access "refs/tags/*"]
	push = group user/vasilw
	push = +force group user/vasilw
